{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}


{{ if $data.nousaider.donner.enable }}
{{ with $data.nousaider.donner }}
<section class="service-about section bg-gray" id="donner">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mt-30">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="{{ .image | absURL }}">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if $data.nousaider.fa.enable }}
{{ with $data.nousaider.fa }}
<section class="service-about section bg-primary-light" id="fa">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" src="{{ .image | absURL }}">
      </div>
      <div class="col-md-8">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mt-30">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if $data.nousaider.suivre.enable }}
{{ with $data.nousaider.suivre }}
<section class="service-about section bg-gray" id="suivre">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mt-30">{{ .content | markdownify }}</p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="{{ .image | absURL }}">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}
