{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="contact-form">
  <div class="container">
    <div class="contact-box row">
      <div class="col-md-4 col-xs-offset-1">
        <img class="img-responsive" src="{{ .image | absURL }}">
      </div>
      <div class="col-md-6 col-sm-12">  
        <div class="block">
          {{/*  <h2>{{ i18n "address_title" }}</h2>  */}}
          <ul class="address-block">
            <li><img style="width:24px;" src="/images/location-outline.svg">{{ site.Params.location }}</li>
            <li><img style="width:24px;"  src="/images/mail-outline.svg">{{ site.Params.email }}</li>
          </ul>
          <ul class="social-icons">
            <li><a href="https://facebook.com/unchatunchat.lyon" target="_blank"><img style="width:24px;" src="/images/logo-facebook.svg" alt="unchatunchat.lyon"></a></li>
            <li><a href="https://instagram.com/unchatunchat.lyon" target="_blank"><img style="width:24px;" src="/images/logo-instagram.svg" alt="unchatunchat.lyon"></a></li>
          </ul>
        </div>
      </div>
      {{ if site.Params.gmap.enable }}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="google-map">
            <div class="map" id="map" data-latitude="{{ site.Params.gmap.map_latitude }}" data-longitude="{{ site.Params.gmap.map_longitude }}" data-marker="{{ site.Params.gmap.map_marker | relURL }}" data-marker-name="{{ site.Title }}"></div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
